<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="./javascript/script.js"></script>
</head>
<body>
   
    <%- include("./views/_navbar.html") %>
    <%- include("./views/_options.html") %>
    <%- include("./views/_data_table.html") %>
    <%- include("./views/_employee_form.html") %>
    <%- include("./views/_department_form.html") %>
    <%- include("./views/_footer.html") %>

</body>
</html>
